header {
    background-color: aliceblue;
    position: sticky;
    top: 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

}

#pavasaris {
    background-color:aquamarine 
}